.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-size: 18px;
  color: #084298;
  text-decoration: dotted;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
  border: none;
  padding: 20px 20px;
}

.weather-icon {
  height: 120px;
}

.wrapper {
  width: fit-content;
}

.text-display {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  color: rgb(84, 93, 104);
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .card {
    justify-content: center;
    padding: 50px;
    margin-top: 45px;
  }
  .weather-icon {
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .weather-container {
    margin: auto;
  }
  .card {
    flex-direction: row;
    padding: 40px 20px;
    max-width: fit-content;
  }
  .weather-icon {
    margin-right: 70px;
  }
}

@media screen and (max-width: 576px) {
  .text-display {
    font-size: 20px;
  }
}
