.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-container {
  display: flex;
  justify-content: center;
}

label {
  font-size: 18px;
  color: #084298;
  text-decoration: dotted;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
  border: none;
  padding: 20px 20px;
}


.weather-icon {
  height: 120px;
}

.wrapper {
  width: fit-content;
}

.text-display {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  color: rgb(84, 93, 104);
  text-align: left;
}

.warning {
  border: 4px solid rgba(255, 0, 0, 0.685) !important;
  box-shadow: 0px 0px 4px rgba(255, 0, 0, 0.664) !important;
}

.warning-txt {
  padding-top: 10px;
  padding-left: 4px;
  color: rgb(199, 4, 4);
}

.notFound-icon {
  height: 200px;
}

@media screen and (min-width: 1200px) {
  .card {
    justify-content: center;
    padding: 50px;
    margin-top: 45px;
  }

  .weather-icon {
    padding-right: 40px;
  }
  .notFound-icon {
    min-height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .weather-container {
    margin: auto;
  }
  .card {
    flex-direction: row;
    padding: 40px 20px;
    max-width: fit-content;
  }
  .card.error {
    flex-direction: column;
  }
  .weather-icon {
    margin-right: 70px;
  }
  .notFound-icon {
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .text-display {
    font-size: 20px;
  }
}
