label {
  font-size: 18px;
  color: #084298;
  text-decoration: dotted;
}

.card {
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
  border: none;
}

.wrapper {
  width: fit-content;
}

.text-display {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  color: rgb(84, 93, 104);
  text-align: left;
}
