.header-item {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: rgb(35, 34, 44);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 33333;
}

.logo {
  margin-left: 9px;
  height: 50px;
  border-radius: 10px;
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  color: rgb(243, 241, 233);
  font-size: 18px;
}

.nav-link:hover,
.router-link-active {
  color: rgb(89, 82, 122);
}

.router-link-active{
  cursor: default;
}

@media screen and (min-width: 768px) {
  .header-item {
    height: 120px;
  }
  .logo {
    margin-left: 15px;
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .header-item {
    padding-right: 80px;
  }
  .logo{
    margin-left: 30px;
  }
}
