
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html, body, #app{
  min-height: 100%;
  height: 100%;
}

body {
  line-height: 1.6;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

body:before {
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: " ";
  background-image: url("../assets/clouds_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
