@import "./base.css";

a,
li {
  text-decoration: none;
}

main {
  padding-top: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: "Satisfy", cursive;
  text-align: center;
  width: 100%;
}
