@import "./base.css";

body {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#app{
  
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

a {
  text-decoration: none;
}

main {
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
}

h1 {
  font-family: "Satisfy", cursive;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  main{
    padding-top: 160px;
    min-height: 82vh;
  }
}