footer {
  /* position: relative; */
  /* margin-top: -70px; */
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgb(35, 34, 44);
  color: rgb(243, 241, 233);
  font-size: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
}

a {
  color: rgb(111, 168, 214) !important;
}

a:hover {
  color: rgb(89, 82, 122);
}

.fa-github {
  height: 30px;
  margin-left: 20px;
}
